.ocean-container {
    justify-self: center;
    height: 12rem;
    width: 12rem;
    margin: 1rem;
    border-radius: 10rem;
    background-color: #edf2f4;
    box-shadow: .2rem .2rem .5rem #000;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-family: 'Boogaloo', cursive;
    color: #000;

    &.active {
        border: 1rem solid #06d6a0;
    }

    &.event-1 {
        grid-row: span 2;
        height: 26rem;
    }

    &.event-2 {
        grid-row: span 3;
        height: 40rem;
    }
}

.ocean-metadata {
    z-index: 2;
    height: 10rem;
    width: 10rem;
    border-radius: 10rem;
    background-color: #edf2f4;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Boogaloo', cursive;
    color: #000;

    &.active {
        border: 1rem solid #06d6a0;
    }
}

.ocean-event {
    position: absolute;
    z-index: 1;
    height: 24rem;
    width: 10rem;
    border: 1rem solid #ef476f;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &.double {
        height: 38rem;
    }

    .event-container {
        padding: 0 1rem;
        justify-content: center;
        font-family: 'Boogaloo', cursive;
        color: #000;
        text-align: center;

        .event-title {
            font-size: 2rem;
        }

        .event-info {
            margin: .4rem 0;
            font-size: 1.2rem;
        }
    }
}

.ocean-name {
    font-size: 2rem;
}

.ocean-population {
    font-size: 3rem;
}

.ocean-status {
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;

    &.active{
        background-color: #06d6a0;
    }
    &.inactive {
        background-color: #ef476f;
    }
}

.ocean-rank {
    position: absolute;
    z-index: 0;
    top: -2.5rem;
    border-radius: 2rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    background-color: #edf2f4;
    font-family: 'Boogaloo', cursive;
    line-height: 2rem;
    box-shadow: .1rem .1rem .5rem #000;

    &.r1 {
        border: 1rem solid #f25c54;
    }

    &.r2 {
        border: 1rem solid #f4845f;
    }

    &.r3 {
        border: 1rem solid #f7b267;
    }
}